<div id="table" class="px-4 py-2 border rounded-lg w-3/4 self-center">
  <table class="text-left w-full">
    <thead>
      <tr>
        <th>id</th>
        <th>name</th>
        <th>height</th>
        <th>weight</th>
        <th>type(s)</th>
        <th>details</th>
      </tr>
    </thead>
    <tbody class="font-light">
      <ng-container *ngIf="paginated$ | async as paginated">
        <tr
          app-table-row
          *ngFor="let pokemon of paginated.results"
          [pokemon]="pokemon"
        ></tr>
      </ng-container>
    </tbody>
  </table>
</div>

<div id="pagination" class="flex justify-center px-4 py-2 border rounded-lg w-3/4 self-center">
  <ul class="flex flex-row gap-1">
    <ng-container *ngIf="paginated$ | async as paginated">
      <select (change)="onPageChange($event)">
        <option
          *ngFor="let page of totalPages(paginated)"
          [value]="page"
          (click)="getPaginated(page)"
        >
          {{ page }}
        </option>
      </select>
    </ng-container>
  </ul>
</div>
