<div id="table" class="px-4 py-2 border rounded-lg">
  <table class="text-left w-full">
    <thead>
      <tr>
        <th class="border-e-2">#id</th>
        <th>#id</th>
        <th>#id</th>
        <th>#id</th>
        <th>#id</th>
      </tr>
    </thead>
    <tbody class="font-light">
      <tr>
        <td>aaaa</td>
        <td>aaaa</td>
        <td>aaaaaaa</td>
        <td>aaaa</td>
        <td>aaaa</td>
      </tr>
      <tr>
        <td>aaaaaaa</td>
        <td>aaaa</td>
        <td>aaaa</td>
        <td>aaaa</td>
        <td>aaaa</td>
      </tr>
      <tr>
        <td>aaaa</td>
        <td>aaaa</td>
        <td>aaaaaaa</td>
        <td>aaaa</td>
        <td>aaaa</td>
      </tr>
      <tr>
        <td>aaaa</td>
        <td>aaaa</td>
        <td>aaaa</td>
        <td>aaaa</td>
        <td>aaaaaaaaaa</td>
      </tr>
      <tr>
        <td>aaaa</td>
        <td>aaaaaaaa</td>
        <td>aaaa</td>
        <td>aaaa</td>
        <td>aaaa</td>
      </tr>
      <tr>
        <td>aaaa</td>
        <td>aaaa</td>
        <td>aaaaaaa</td>
        <td>aaaa</td>
        <td>aaaa</td>
      </tr>
      <tr>
        <td>aaaa</td>
        <td>aaaa</td>
        <td>aaaaaaa</td>
        <td>aaaa</td>
        <td>aaaa</td>
      </tr>
      <tr>
        <td>aaaa</td>
        <td>aaaa</td>
        <td>aaaaaaa</td>
        <td>aaaa</td>
        <td>aaaa</td>
      </tr>
      <tr>
        <td>aaaa</td>
        <td>aaaa</td>
        <td>aaaaaaa</td>
        <td>aaaa</td>
        <td>aaaa</td>
      </tr>
      <tr>
        <td>aaaa</td>
        <td>aaaa</td>
        <td>aaaaaaa</td>
        <td>aaaa</td>
        <td>aaaa</td>
      </tr>
      <tr>
        <td>aaaa</td>
        <td>aaaa</td>
        <td>aaaaaaa</td>
        <td>aaaa</td>
        <td>aaaa</td>
      </tr>
    </tbody>
  </table>
</div>

<div id="pagination" class="flex justify-center px-4 py-2 border rounded-lg">
  <ul class="flex flex-row gap-1">
    <li>1</li>
    <li>1</li>
    <li>1</li>
    <li>1</li>
    <li>1</li>
    <li>1</li>
    <li>1</li>
  </ul>
</div>
