<div id="table" class="px-4 py-2 border rounded-lg">
  <table class="text-left w-full">
    <thead>
      <tr>
        <th>#id</th>
        <th>name</th>
        <th>height</th>
        <th>weight</th>
      </tr>
    </thead>
    <tbody class="font-light">
      <tr app-table-row *ngFor="let pokemon of (paginated$ |async)?.results" [pokemon] = "pokemon">
      </tr>
    </tbody>
  </table>
</div>

<div id="pagination" class="flex justify-center px-4 py-2 border rounded-lg">
  <ul class="flex flex-row gap-1">
    <li>
      <button >prev</button>
    </li>
    <li>
      <button >next</button>
    </li>
    <li>1</li>
    <li>1</li>
    <li>1</li>
    <li>1</li>
    <li>
      <button (click)="getPaginated()">load</button>
    </li>
  </ul>
</div>
