<div id="cardContainer" class="flex items-center justify-center w-screen">
  <div id="card" class="border bg-slate-200">
    <ng-container *ngIf="pokemonDetail$ | async as pokemonDetail">
      <p>{{ pokemonDetail.id }}</p>
      <p>{{ pokemonDetail.name }}</p>
      <p>{{ pokemonDetail.height }}</p>
      <p>{{ pokemonDetail.weight }}</p>
      <p>{{ extractTypeNames(pokemonDetail.types) }}</p>
    </ng-container>
<!--     <ng-container *ngIf="pokemonSpecies$ | async as pokemonSpecies">
      <p>{{ pokemonSpecies.id }}</p>
      <p>{{ pokemonSpecies.name }}</p>
      <p>{{ pokemonSpecies.height }}</p>
      <p>{{ pokemonSpecies.weight }}</p>
      <p>{{ extractTypeNames(pokemonSpecies.types) }}</p>
    </ng-container> -->
  </div>
</div>
